<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LLM Query</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script>
        function startTimer(duration, display) {
            var timer = duration, minutes, seconds;
            setInterval(function () {
                minutes = parseInt(timer / 60, 10);
                seconds = parseInt(timer % 60, 10);

                minutes = minutes < 10 ? "0" + minutes : minutes;
                seconds = seconds < 10 ? "0" + seconds : seconds;

                display.textContent = minutes + ":" + seconds;

                if (--timer < 0) {
                    timer = duration;
                }
            }, 1000);
        }

        window.onload = function () {
            document.getElementById("submitBtn").addEventListener("click", function () {
                var fiveMinutes = 60 * 5,
                    display = document.querySelector('.timer');
                startTimer(fiveMinutes, display);
                document.querySelector('.timer').style.display = "block";
            });
        };
    </script>
</head>
<body>
    <div class="container">
        <h1>Enter your query:</h1>
        <form action="/" method="post">
            <input type="text" name="query" placeholder="Enter your query">
            <br>
            <input type="checkbox" name="semantic_search" id="semantic_search">
            <label for="semantic_search">Semantic Search</label>
            <br>
            <input type="submit" value="Submit" id="submitBtn">
        </form>
        <div class="timer"></div>
        {% if query %}
        <div class="result">
            <h2>Query: {{ query }}</h2>
            <h3>Response Time: {{ response_time }}</h3>
            <pre>{{ response[:1000] }}{% if response|length > 1000 %}...{% endif %}</pre>
        </div>
        {% endif %}
        {% if semantic_search %}
        <div class="semantic-results">
            <h2>Semantic Search Results:</h2>
            {% for result in semantic_search %}
                <p><strong>Page:</strong> {{ result.metadata.page }}</p>
                <p><strong>Source:</strong> {{ result.metadata.source }}</p>
                <pre>{{ result.page_content|replace('\n', '<br>') }}</pre>
                <hr>
            {% endfor %}
        </div>
        {% endif %}
    </div>
</body>
</html>
